

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  
  
  
  .headline-container {
    display: flex; 
    margin: 10rem auto 0 auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 60dvw;
    margin-bottom: 10rem;
    
  }
  
.headline-container>h1{
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.87);
  padding: 1rem 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
} 

.headline-container>p {
  color: black;
  font-size: 1.2rem;
  text-align: center;

}
  
